{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
            {{ form_row(form.documents) }}
    <button class="btn btn-success">Déposer sur HAL </button>
    {{ form_end(form) }}
{% endblock %}