{% extends 'base.html.twig' %}
{% block body %}
    <h2>Création d'un document</h2>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer un document</button>
        {{ form_end(form) }}
    </div>
{% endblock %}