{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Liste des documents/Décision</h2>
        <table class="table">
            <th>DOI</th>
            <th>Etat Décision</th>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.doi }}</td>
                        <td>Décision {{ document.decision.id }} : {{ document.decision.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}