{% extends 'base.html.twig' %}
{% block body %}
    <div class="container text-center text-primary">
        <h1>Liste des documents/decision en attente</h1>
        <table class="table">
            <th>DOI</th>
            <th>Contenu de la Décision relatif</th>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.doi }}</td>
                    <td>{{ document.decision.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}